@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.masonry {
  column-count: 4;
  column-gap: 10px;

}

.masonry img {
  max-width: 100%;
  display: block;
}

.masonry figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
  position: relative;
}

.masonry figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
  width: 100%;
}

.masonry figcaption {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 4px;
  justify-self: start;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
